[Desktop Entry]
Name=PLG Voice
Comment=Open source, user-first chat platform
Exec=plg-voice-desktop
Terminal=false
Type=Application
Icon=chat.stoat.PLG VoiceDesktop
Categories=Network;InstantMessaging
StartupWMClass=plg-voice-desktop
X-Desktop-File-Install-Version=0.26
X-Flatpak=chat.stoat.PLG VoiceDesktop
