[database]
mongodb = "mongodb://${MONGO_USER}:${MONGO_PASS}@database:27017/revolt?authSource=admin"
redis = "redis://:${REDIS_PASSWORD}@redis/"

[hosts]
app = "https://${PLG_VOICE_HOST}"
api = "https://${PLG_VOICE_HOST}/api"
events = "wss://${PLG_VOICE_HOST}/ws"
autumn = "https://${PLG_VOICE_HOST}/autumn"
january = "https://${PLG_VOICE_HOST}/january"

[hosts.livekit]
worldwide = "wss://${PLG_VOICE_HOST}/livekit"

[pushd.vapid]
private_key = "${VAPID_PRIVATE_KEY}"
public_key = "${VAPID_PUBLIC_KEY}"

[files]
encryption_key = "${FILES_ENCRYPTION_KEY}"

[files.s3]
endpoint = "http://minio:9000"
path_style_buckets = false
region = "minio"
access_key_id = "${MINIO_USER}"
secret_access_key = "${MINIO_PASS}"
default_bucket = "revolt-uploads"

[rabbit]
host = "rabbit"
port = 5672
username = "${RABBIT_USER}"
password = "${RABBIT_PASS}"

[messages]
encryption_key = "${MESSAGES_ENCRYPTION_KEY}"

[features]
webhooks_enabled = true

[api.livekit.nodes.worldwide]
url = "http://livekit:7880"
lat = 0.0
lon = 0.0
key = "${LIVEKIT_KEY}"
secret = "${LIVEKIT_SECRET}"
