[Unit]
Description=PLGames Nerzul Admin Bot
After=network.target docker.service

[Service]
Type=simple
User=plg
WorkingDirectory=/home/plg/PLGames-Voice/bot
ExecStart=/home/plg/.nvm/versions/node/v20.19.4/bin/node index.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
